div {
  border-style: solid;
}

#sideNav{
  height: 100%;
  width: 20%;
  position: fixed;
}

#content {
  hieght: 100%;
  width: 80;
  left: 20%;
}

#map {
  height: 400px;
  width: 100%;
}
